.Lobby.Lobby {
  height: inherit;
  background-color: white;
}
.Lobby_Btn.Lobby_Btn {
  margin: 0px 10px;
}

.Lobby_SignOutBtn.Lobby_SignOutBtn {
  margin: 10px;
}

.Lobby_Header.Lobby_Header {
  height: 90px;
}

.Lobby_Title.Lobby_Title {
  color: grey;
  margin: 10px;
}

.Lobby_FirstHalf.Lobby_FirstHalf {
  padding: 40px;
  height: max-content;
}

.Lobby_SubText.Lobby_SubText {
  color: grey;
}

.Lobby_StartRoomBtn.Lobby_StartRoomBtn {
  margin: 10px;
  width: 50%;
}

.Lobby_Form {
  margin: 10px;
  width: 100%;
}

.Lobby_JoinRoomBtn.Lobby_JoinRoomBtn {
  margin-left: 14px;
  padding: 8px 16px;
}

.Lobby_VideoSVG {
  height: 60%;
}

.Lobby_JoinRoomContainer.Lobby_JoinRoomContainer {
  margin-top: 80px;
}

.Lobby_HeaderIcon {
  height: 60px;
  width: 60px;
}

.Lobby_ErrorText {
  color: red;
}
