.HomePage {
  background-color: #fff;
}

.HomePage_Lobby {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: inherit;
}

.HomePage_Loader.HomePage_Loader {
  margin-top: 200px;
}
